@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@-webkit-keyframes likeicon {
  100% {
    color: #901c1c;
  }
}
@keyframes likeicon {
  100% {
    color: #901c1c;
  }
}

@-webkit-keyframes formopen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes formopen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes photographPrice {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes photographPrice {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes lightboxOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 3%;
}

a {
  text-decoration: none;
}

p,
h1,
h3,
h2,
a {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_Fisheye {
  width: 9rem;
  margin-right: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.photographsListTitle {
  display: block;
  color: #901c1c;
  font-size: 0.9rem;
  white-space: nowrap;
}

#header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#header_nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header_nav ul li {
  display: block;
  list-style-type: none;
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #525252;
  border-radius: 1rem;
  background-color: #fafafa;
  z-index: 100;
}

#header_nav ul li a {
  font-weight: bold;
  color: #901c1c;
  text-decoration: none;
  font-size: 0.8rem;
}

#header_nav ul li:hover {
  background-color: #901c1c;
}

#header_nav ul li:hover a {
  color: #fafafa;
}

@keyframes likeicon {
  100% {
    color: #901c1c;
  }
}

@keyframes formopen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes photographPrice {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes lightboxOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#scrollMainPage {
  display: none;
  position: absolute;
  top: 0.4rem;
  right: 50%;
  left: 30%;
  font-weight: bold;
  width: 8.5rem;
  padding: 0.2rem 0.5rem;
  background-color: #e18d7a;
  border-radius: 0.5rem;
  z-index: 999;
  opacity: 0.7;
  color: black;
}

#photographs {
  width: 100%;
  margin-top: 8rem;
}

.photographerImg {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.1rem 0.2rem 0.5rem gray;
          box-shadow: 0.1rem 0.2rem 0.5rem gray;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.photographersList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.photographer {
  width: 20rem;
  margin-bottom: 5rem;
}

.photographerCommentText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photographerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13rem;
  font-size: 1.5rem;
  color: #901c1c;
  margin: 0 auto 0.5rem auto;
}

.photographerLocation {
  color: #901c1c;
  margin-bottom: 0.5rem;
  font-size: medium;
}

.photographerQuote {
  margin-bottom: 0.2rem;
}

.photographerFees {
  opacity: 0.6;
  margin-bottom: 1rem;
}

.photographerHashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photographerHashtags a {
  font-weight: bold;
  margin: 0.2rem 0 0 0.3rem;
  padding: 0.2rem 0.6rem;
  border: 1px solid #525252;
  border-radius: 1rem;
  background-color: #fafafa;
  text-decoration: none;
  color: #901c1c;
}

.photographerHashtags a:hover,
.photographerDescriptionHashtags a:hover {
  background-color: #901c1c;
  color: #fafafa;
}

.photographerFullName {
  font-size: 1.5rem;
  color: #901c1c;
  margin-right: 1rem;
}

.photographerDescriptionLocation {
  color: #901c1c;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.photographerDescriptionQuote {
  font-family: "Roboto", sans-serif;
  margin: 1rem 0 1rem 0;
}

.photographerDescriptionHashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photographerDescriptionHashtags a {
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  border: 1px solid #525252;
  border-radius: 1rem;
  background-color: #fafafa;
  color: #901c1c;
  margin-right: 0.2rem;
  font-size: 0.9rem;
}

.thePricingSec {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  position: fixed;
  bottom: 4.5%;
  right: 2%;
  background-color: #e18d7a;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  z-index: 100;
}

.photographerInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem auto;
  background-color: #fafafa;
  width: 100%;
  height: 15rem;
}

.photographerInfoPic {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0.3rem;
  top: 1.2rem;
  width: 6rem;
  height: 5.4rem;
  border-radius: 50%;
  -webkit-box-shadow: 0.1rem 0.2rem 0.5rem gray;
          box-shadow: 0.1rem 0.2rem 0.5rem gray;
}

.photographerDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0;
  position: relative;
}

.photographerDescriptionId {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filterSection {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filterSection p {
  margin-right: 1.8rem;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  top: 0.5rem;
}

.filterSection ul {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  border-radius: 0.8rem;
  position: relative;
}

.filterList {
  background-color: #901c1c;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.8rem 1.7rem 0.8rem 1rem;
  color: #fafafa;
  cursor: pointer;
  position: relative;
  z-index: 999;
  overflow: visible;
}

#filterIcon {
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
  background: none;
  border: none;
  color: #fafafa;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 6px;
  margin-right: 0.2rem;
  z-index: 1005;
}

.notActive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.notActive.responsive {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.notActive::after {
  content: "";
  background: #fafafa;
  position: absolute;
  opacity: 0.6;
  top: 0rem;
  left: 7%;
  height: 0.1rem;
  width: 8.1rem;
  z-index: 1000;
}

.thePhotographsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0rem auto 3rem auto;
}

.photographerPhotos {
  margin: 2rem 1rem;
  position: relative;
  margin: 1.5rem;
}

.thePhotograph {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 18rem;
  height: 18rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.photographDescr {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #901c1c;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.LikesSection {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #901c1c;
}

.likesNumber {
  font-size: 1.1rem;
  color: #901c1c;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 0.8rem;
}

.photographPriceDate {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 0.2rem;
}

.photographerPhotos:hover .photographDetails p {
  visibility: visible;
  -webkit-animation: photographPrice 0.5s ease-in-out forwards;
          animation: photographPrice 0.5s ease-in-out forwards;
}

.photographDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.photographPrice {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  margin-left: 2rem;
}

.thePricingSec input {
  background-color: transparent;
  width: 2rem;
  height: 1.1rem;
  border: black;
  padding: 0;
  margin-right: 0;
  font-size: 1rem;
}

.photographerLikesSec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#likesHeart {
  color: black;
  font-size: 1.2rem;
  left: 4.3rem;
  top: 0.7rem;
  margin-left: 0.5rem;
}

.LikesSection {
  position: relative;
  cursor: pointer;
}

.LikesIcon i {
  color: #c5c4c4;
  font-size: 1.2rem;
}

.LikesIcon i.liked {
  color: #901c1c;
}

.btn-submit {
  background-color: #d3573c;
  display: block;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  color: #1f1f1f;
  cursor: pointer;
  border: 0;
}

.btn-submit:hover {
  background-color: #901c1c;
  color: #fafafa;
}

.photographerContact {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: #d3573c;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.photographerContact:hover {
  background-color: #901c1c;
  color: #fafafa;
}

.photographerContactResp {
  display: block;
  position: fixed;
  bottom: 1.5rem;
  left: 25%;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: #d3573c;
  color: black;
  border: none;
  border-radius: 0.5rem;
  z-index: 100;
  cursor: pointer;
}

.photographerContactResp:hover {
  background-color: #901c1c;
  color: #fafafa;
}

.btnClose {
  background-color: #d3573c;
  display: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  color: #1f1f1f;
  cursor: pointer;
  border: 0;
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.btnClose:hover {
  background-color: #901c1c;
  color: #fafafa;
}

.bground {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #fafafa;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: formopen;
          animation-name: formopen;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  background: #e18d7a;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  color: #fafafa;
  padding-top: 1rem;
}

.modal-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10%;
}

.formTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.4rem;
  color: #1f1f1f;
}

label {
  font-size: 1.2rem;
  font-weight: normal;
  display: inline-block;
  margin: 0.8rem 0 0.2rem 0;
  color: #1f1f1f;
}

input {
  padding: 5px;
  border: 0.8px solid #fafafa;
  outline: none;
}

textarea {
  padding: 8px;
  border: 0.8px solid #fafafa;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  height: 2rem;
  margin-bottom: 0.3rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 0.9rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 0.9rem;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 0.9rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.9rem;
}

#formValidationMessage {
  visibility: hidden;
  margin: auto;
  height: 50%;
  width: 100%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  opacity: 1;
  cursor: pointer;
}

@keyframes likeicon {
  100% {
    color: #901c1c;
  }
}

@keyframes formopen {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes photographPrice {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes lightboxOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100000;
  overflow: auto;
  -webkit-animation: lightboxOpen 0.5s;
          animation: lightboxOpen 0.5s;
}

.lightbox.fadeOut {
  opacity: 0;
}

.lightboxNext,
.lightboxPrev {
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 32px);
  right: 0.5rem;
  margin-top: -14px;
  z-index: 100001;
  color: #d3573c;
  opacity: 0.5;
  cursor: pointer;
  padding: 1rem;
}

.lightboxPrev {
  right: auto;
  left: 0.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lightboxClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 100002;
  opacity: 1;
  color: #d3573c;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.lightboxPrev:hover,
.lightboxClose:hover,
.lightboxNext:hover {
  color: #901c1c;
  opacity: 1;
}

.lightboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
  z-index: 100001;
}

.innerLightboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  height: auto;
  -webkit-animation: lightboxOpen 0.5s;
          animation: lightboxOpen 0.5s;
  max-height: 95vh;
}

.lightboxContainer img,
.lightboxContainer video {
  max-height: 90vh;
  width: 100%;
}

.lightboxContainer p {
  color: #d3573c;
  font-weight: bold;
}

@media screen and (min-width: 370px) {
  .photographsListTitle {
    padding-left: 1rem;
    color: #901c1c;
    font-size: 1.4rem;
  }
  .logo_Fisheye {
    width: 12rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #header_nav ul li a {
    font-size: 1rem;
  }
  .thePhotograph {
    width: 20rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerContactResp {
    display: block;
    position: fixed;
    bottom: 1.5rem;
    left: 30%;
  }
  .photographerFullName {
    font-size: 1.8rem;
  }
  .photographerDescriptionLocation {
    font-size: 1.2rem;
  }
  .photographerDescriptionQuote {
    font-size: 1.1rem;
  }
  .photographerDescriptionId {
    margin-left: 1rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerDescriptionHashtags a {
    font-size: 1rem;
  }
  .photographer {
    width: 22rem;
    margin-bottom: 5rem;
  }
  .photographPriceDate {
    font-size: 0.9rem;
  }
  .filterSection p {
    font-size: 1.1rem;
  }
  .filterList {
    font-size: 1.1rem;
  }
  .photographerInfoPic {
    width: 6rem;
    height: 6rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 500px) {
  #scrollMainPage {
    left: 40%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerInfoPic {
    width: 8rem;
    height: 8rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerDescriptionHashtags a {
    font-size: 1.1rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 600px) {
  .thePricingSec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .photographerInfoPic {
    width: 9rem;
    height: 9rem;
    margin-right: 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .formTitle {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 755px) {
  .photographerContactResp {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    left: 30%;
  }
  #photographs {
    margin-top: 6rem;
  }
  .photographerFullName {
    font-size: 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerContact {
    display: block;
  }
  .photographerInfoPic {
    position: absolute;
    top: 0.7rem;
  }
  .bground {
    background-color: #fafafa;
  }
  .btnClose {
    left: 40%;
  }
  .filterSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .thePhotographsSection {
    margin: -6rem auto 3rem auto;
  }
}

@media screen and (min-width: 990px) {
  .photographerInfoPic {
    width: 12rem;
    height: 12rem;
    margin-right: 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerContact {
    display: block;
    margin-left: 3rem;
    -webkit-transition: all0 0.5s ease-in-out;
    transition: all0 0.5s ease-in-out;
  }
  .photographer {
    width: 24rem;
    margin-bottom: 5rem;
  }
  .photographsListTitle {
    padding-left: 1rem;
    color: #901c1c;
    font-size: 1.8rem;
  }
  .thePhotograph {
    width: 24rem;
  }
  #scrollMainPage {
    left: 45%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .photographerInfoPic {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1160px) {
  #header_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1rem;
  }
}
/*# sourceMappingURL=Style.css.map */