.LikesSection {
  position: relative;
  cursor: pointer;
}

.LikesSection .far {
  position: relative;
  color: $primaryColor;
  opacity: 0.8;
}

.LikesSection .fas {
  position: absolute;
  right: 0;
  top: 0.05rem;
  color: transparent;
}

.LikesSection .fas:hover {
  animation: likeicon 0.9s ease-in-out forwards;
}

.btn-submit {
  background-color: $secondaryColor;
  display: block;
  // margin: 0 auto;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  color: darken($tertiaryColor, 20%);
  cursor: pointer;
  border: 0;
}

.btn-submit:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}

// contact photographer

.photographerContact {
  display: block;
  align-items: center;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

////use clickkk in js
.photographerContact:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}

.photographerContactResp {
  display: none;
  position: fixed;
  bottom: 2.5rem;
  left: 45%;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  color: black;
  border: none;
  border-radius: 0.5rem;
  z-index: 100;
  cursor: pointer;
}

.photographerContactResp:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}
