.LikesSection {
  position: relative;
  cursor: pointer;
}

.LikesIcon {
  border: none;
}

.LikesIcon i {
  color: rgb(197, 196, 196);
  font-size: 1.2rem;
}

.LikesIcon i.liked {
  color: $primaryColor;
}

.btnSubmit {
  background-color: $secondaryColor;
  display: block;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  color: darken($tertiaryColor, 20%);
  cursor: pointer;
  border: 0;
}

.btnSubmit:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}

// contact photographer

.photographerContact {
  display: none;
  align-items: center;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

////use clickkk in js
.photographerContact:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}

.photographerContactResp {
  display: block;
  position: fixed;
  bottom: 1.5rem;
  left: 25%;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  color: black;
  border: none;
  border-radius: 0.5rem;
  z-index: 100;
  cursor: pointer;
}

.photographerContactResp:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}

.btnClose {
  background-color: $secondaryColor;
  display: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  color: darken($tertiaryColor, 20%);
  cursor: pointer;
  border: 0;
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.btnClose:hover {
  background-color: $primaryColor;
  color: $quaternaryColor;
}



