// formulaire section

.bground {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $quaternaryColor;
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: formopen;
  animation-duration: 0.8s;
  background: lighten($secondaryColor, 15%);
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
  color: $quaternaryColor;
  padding-top: 1rem;
}

.modal-body {
  padding: 15px 8%;
  margin: 0rem auto;
}

.formTitle {
  display: flex;
  flex-direction: column;
  font-size: 2.8rem;
  color: darken($tertiaryColor, 20%);
}

label {
  font-size: 1.2rem;
  font-weight: normal;
  display: inline-block;
  margin: 0.8rem 0 0.2rem 0;
  color: darken($tertiaryColor, 20%);
}
input {
  padding: 5px;
  border: 0.8px solid $quaternaryColor;
  outline: none;
}

textarea {
  padding: 8px;
  border: 0.8px solid $quaternaryColor;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
}
.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  height: 2rem;
  margin-bottom: 0.3rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.9rem;
}

#formValidationMessage {
  visibility: hidden;
  font-size: 2rem;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  opacity: 1rem;
  cursor: pointer;
}
