@import "../abstracts/keyframes";
@import "../abstracts/variables";

.lightBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100000;
  overflow: auto;
  animation: lightboxOpen 0.5s;
}

.lightbox.fadeOut {
  opacity: 0;
}
.lightboxNext,
.lightboxPrev {
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 32px);
  right: 0.5rem;
  margin-top: -14px;
  z-index: 100001;
  color: $secondaryColor;
  opacity: 0.5;
  cursor: pointer;
  padding: 1rem;

}
.lightboxPrev {
  right: auto;
  left: 0.5rem;
  transform: rotate(180deg);
}
.lightboxClose {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 100002;
  opacity: 1;
  color: $secondaryColor;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.lightboxPrev:hover,
.lightboxClose:hover, 
.lightboxNext:hover {
  color: $primaryColor;
  opacity: 1;
}

.lightboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
  z-index: 100001;

}

.innerLightboxContainer{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: auto;
  animation: lightboxOpen 0.5s;
  max-height: 95vh;
}

.lightboxContainer img,
.lightboxContainer video {
  max-height: 90vh;
  width: 100%;
}

.lightboxContainer p{
  color: $secondaryColor;
  font-weight: bold;


}
























