@media screen and (min-width: 370px) {
  .photographsListTitle {
    padding-left: 1rem;
    color: $primaryColor;
    font-size: 1.4rem;
  }
  .logo_Fisheye {
    width: 9rem;
    transition: all 0.5s ease-in-out;
  }
  #header_nav ul li a {
    font-size: 1rem;
  }
  .thePhotograph {
    width: 20rem;
    transition: all 0.5s ease-in-out;
  }

  .photographerContactResp {
    display: block;
    position: fixed;
    bottom: 1.5rem;
    left: 30%;
  }

  .photographerFullName {
    font-size: 1.8rem;
  }

  .photographerDescriptionLocation {
    font-size: 1.2rem;
  }
  .photographerDescriptionQuote {
    font-size: 1.1rem;
  }

  .photographerDescriptionId {
    margin-left: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .photographerDescriptionHashtags a {
    font-size: 1rem;
  }
  .photographer {
    width: 22rem;
    margin-bottom: 5rem;
  }

  .photographPriceDate {
    font-size: 0.9rem;
  }

  .filterSection p {
    font-size: 1.1rem;
  }

  .filterList {
    font-size: 1.1rem;
  }

  .photographerInfoPic {
    width: 6rem;
    height: 6rem;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 500px) {
  #scrollMainPage {
    left: 40%;
    transition: all 0.5s ease-in-out;
  }

  .photographerInfoPic {
    width: 8rem;
    height: 8rem;
    transition: all 0.5s ease-in-out;
  }

  .photographerDescriptionHashtags a {
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 600px) {
  .logo_Fisheye {
    width: 12rem;
  }
  .thePricingSec {
    display: flex;
  }
  .photographerInfoPic {
    width: 9rem;
    height: 9rem;
    margin-right: 2rem;
    transition: all 0.5s ease-in-out;
  }
  .formTitle {
    font-size: 2.8rem;
  }

}

@media screen and (min-width: 755px) {
  .photographerContactResp {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    left: 30%;
  }
  #photographs {
    margin-top: 6rem;
  }

  .photographerFullName {
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
  }

  .photographerContact {
    display: block;
  }
  .photographerInfoPic {
    position: absolute;
    top: 0.7rem;
  }
  .bground {
    background-color: $quaternaryColor;
  }

  .btnClose {
    left: 40%;
  }

  .filterSection {
    display: flex;
    flex-direction: row;
  }

  .thePhotographsSection {
    margin: -6rem auto 3rem auto;
  }
}

@media screen and (min-width: 990px) {
  .photographerInfoPic {
    width: 12rem;
    height: 12rem;
    margin-right: 2rem;
    transition: all 0.5s ease-in-out;
  }

  .photographerContact {
    display: block;
    margin-left: 3rem;
    transition: all0.5s ease-in-out;
  }

  .photographer {
    width: 24rem;
    margin-bottom: 5rem;
  }
  .photographsListTitle {
    padding-left: 1rem;
    color: $primaryColor;
    font-size: 1.8rem;
  }

  .thePhotograph {
    width: 24rem;
  }
  #scrollMainPage {
    left: 45%;
    transition: all 0.5s ease-in-out;
  }
  .photographerInfoPic {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 1160px) {
  #header_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 1rem;
  }
}
